In [59]:
#converting spss dataset(.sav) into pandas dataframe
import pyreadstat
df, meta = pyreadstat.read_sav("Slovenia_COVID-19&Mental_Health.sav", apply_value_formats=True,
                                formats_as_category=True, formats_as_ordered_category=False)
df

,Sex,Sex_Other,Age,Education,Income,Residence,Region,Household,Children,Employment,...,Execution_hanging_out,Execution_health,Execution_humor,Execution_mindful,Execution_activity,Execution_info,Execution_media,Execution_total,Media_channel,Media_channel_Other
0,Woman,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,I do not execute,I do not execute,"I execute, it helps a lot","I execute, it helps a lot","I execute, it helps a lot",I do not execute,"I execute, it helps a little bit",14.0,Websites/portals,NaN
1,Woman,NaN,24.0,College or bachelors degree,0 - 365 €,Rural,Drava,5.0,0.0,Working student,...,I do not execute,"I execute, it helps a little bit","I execute, it helps a little bit",I do not execute,I do not execute,"I execute, it helps a little bit","I execute, it helps a little bit",8.0,Websites/portals,NaN
2,Woman,NaN,46.0,Masters degree,1460 - 1830 €,Rural,Drava,4.0,1.0,Emplyed in public sector,...,"I execute, it helps a lot","I execute, it helps a little bit","I execute, it helps a little bit","I execute, it helps a little bit","I execute, it helps a little bit","I execute, it helps a little bit","I execute, it helps a little bit",17.0,Television,NaN
3,Woman,NaN,23.0,Masters degree,365 - 550 €,Rural,Gorizia,7.0,0.0,Working student,...,"I execute, it helps a lot","I execute, it helps a little bit","I execute, it helps a little bit","I execute, it helps a little bit","I execute, it helps a little bit","I execute, it helps a little bit","I execute, it helps a little bit",18.0,Websites/portals,NaN
4,Woman,NaN,32.0,Masters degree,nad 2200 €,Urban,Central Slovenia,1.0,0.0,Employed in private sector,...,"I execute, but it does not help me","I execute, it helps a little bit","I execute, but it does not help me","I execute, but it does not help me","I execute, it helps a lot","I execute, it helps a little bit","I execute, it helps a lot",15.0,Websites/portals,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,Man,NaN,28.0,College or bachelors degree,1830 - 2200 €,Urban,Drava,1.0,0.0,Self-employed,...,"I execute, it helps a lot","I execute, it helps a lot","I execute, it helps a little bit",I do not execute,"I execute, it helps a lot","I execute, but it does not help me","I execute, it helps a little bit",16.0,Websites/portals,NaN
307,Woman,NaN,21.0,"Technical, vocational or high school degree",550 - 730 €,Urban,Drava,2.0,0.0,Unemployed,...,"I execute, it helps a little bit",I do not execute,"I execute, it helps a little bit","I execute, it helps a little bit","I execute, it helps a little bit","I execute, it helps a little bit","I execute, it helps a little bit",14.0,Social media,NaN
308,Woman,NaN,26.0,Masters degree,365 - 550 €,Rural,Gorizia,4.0,0.0,Unemployed,...,"I execute, it helps a little bit",I do not execute,"I execute, it helps a little bit","I execute, it helps a lot","I execute, it helps a little bit","I execute, it helps a lot","I execute, it helps a lot",17.0,Social media,NaN
309,Woman,NaN,28.0,"Technical, vocational or high school degree",550 - 730 €,Rural,Coastal-Carst,10.0,1.0,Unemployed,...,"I execute, it helps a lot",I do not execute,I do not execute,I do not execute,I do not execute,"I execute, it helps a lot","I execute, it helps a lot",11.0,Websites/portals,NaN
310,Woman,NaN,32.0,"Technical, vocational or high school degree",1100 - 1280 €,Urban,Drava,3.0,1.0,Unemployed,...,"I execute, it helps a little bit","I execute, it helps a little bit","I execute, it helps a little bit","I execute, but it does not help me","I execute, but it does not help me",I do not execute,"I execute, it helps a lot",12.0,Social media,NaN

In [31]:
#preparing Sex
df['Sex'].replace(to_replace=['Woman', 'Man' , 'Other'],
           value= ['Gender=Woman', 'Gender=Man' , 'Gender=Other'],
           inplace=True)
df['Sex'].value_counts()
# df.loc[df['Sex'] == 'Other']

#preparing Sex_Other
del df['Sex_Other']

#preparing Age
#discretizing continuous numeric variable of Age into 4 categories
#new labels are: 0-14 as Child , 14-24 as Young , 24-64 as Adults , 64-100 as Senior
import pandas as pd
df['binned']=pd.cut(x=df['Age'], bins=[0,14,24,64,100])
age_category = ['Age=Child', 'Age=Young', 'Age=Adults', 'Age=Senior']
df['Age']=pd.cut(x=df['Age'], bins=[0,14,24,64,100],labels=age_category)


#preparing education
df['Education'].replace(to_replace=['Masters degree', 'Technical, vocational or high school degree' , 'College or bachelors degree' , 'Doctoral degree' , 'Masters degree (pre-Bolognia Process Resolution)' , 'Elementary school'],
           value= ['Education_Degree=M.Sc.', 'Education_Degree=High School' , 'Education_Degree=B.Sc. or College' , 'Education_Degree=Ph.D', 'Education_Degree=M.Sc. pre-Bolognia' , 'Education_Degree=Elementary School'],
           inplace=True)
# df['Education'].value_counts()

#preparing Income
df['Income'].replace(to_replace=['0 - 365 €', '920 - 1100 €' , '1100 - 1280 €' , '1280 - 1460 €' , '1460 - 1830 €' , '365 - 550 €' , '730 - 920 €'],
           value= ['Income_Low=0-365€', 'Income_Lower_Middle=920-1100€' , 'Income_Middle=1100-1280€' , 'Income_Higher_Middle=1280-1460€', 'Income_High=1460-1830€' , 'Income_Low=365-550€' , 'Income_Lower_Middle=730-920€' ],
           inplace=True)
# df['Income'].value_counts()

#preparing Residence
df['Residence'].replace(to_replace=['Urban', 'Rural'],
           value= ['Residence=Urban', 'Residence=Rural'],
           inplace=True)
# df['Residence'].value_counts()

#preparing Region
df['Region'].replace(to_replace=['Central Slovenia', 'Coastal-Carst' , 'Drava' , 'Littoral–Inner Carniola' , 'Lower Sava' , 'Gorizia' , 'Savinja'],
           value= ['Region=Central Slovenia', 'Region=Coastal-Carst' , 'Region=Drava' , 'Region=Littoral–Inner Carniola' , 'Region=Lower Sava' , 'Region=Gorizia' , 'Region=Savinja'],
           inplace=True)
# df['Region'].value_counts()


#preparing Household
Household_category = ['Household=1 person', 'Household=2 people', 'Household=3-6 people', 'Household=more than 6 people']
df['Household']=pd.cut(x=df['Household'], bins=[0, 1, 2, 6, 100],labels=Household_category)

#preparing Children
Children_category = ['Children=no child', 'Children=1 child', 'Children=2 or 3 childs', 'Children=more than 3 childs']
df['Children']=pd.cut(x=df['Children'], bins=[-1,0, 1, 3, 100],labels=Children_category)
# df['Children'].value_counts()

#preparing Employment
df['Employment'].replace(to_replace=['Emplyed in public sector', 'Working student' , 'Employed in private sector' , 'Self-employed' , 'Unemployed' , 'Retired'],
           value= ['Employment=public sector', 'Employment=student' , 'Employment=private sector' , 'Employment=Self-employed' , 'Employment=Unemployed' , 'Employment=Retired'],
           inplace=True)
# df['Employment'].value_counts()

#preparing Employment_Other
del df['Employment_Other']

#preparing Changes_Work
df['Changes_Work'].replace(to_replace=['I work from home all the time and I (almost) never worked from home before', 'I partialy worked from home before, now I work from home all the time' , 'I cannot do my job due to Covid-19 and I am not recieving any monetary compensation' , 'I did not undergo any substantial changes regarding my work' , 'Other' , 'I cannot do my job due to Covid-19 and I am recieving monetary compensation' , 'I partially work from home and I (almost) never worked from home before' , 'I work in the spaces of my organisation, but in a different location'],
           value= ['Changes_Work=All Time Home & No Home Before', 'Changes_Work=All Time Home & Partialy Home Before' , 'Changes_Work=Cannot Do Job & No Money' , 'Changes_Work=No Changes at work' , 'Changes_Work=Other' , 'Changes_Work=Cannot Do Job but received Money' , 'Changes_Work=Partialy Home & No Home Before','Changes_Work=Change the place of work'],
           inplace=True)

# df['Changes_Work'].value_counts()

#preparing Changes_Work_Other
del df['Changes_Work_Other']

#preparing Share_Wage
Share_Wage_category = ['Share_Wage=Low(0-20%)', 'Share_Wage=Medium(20-50%)', 'Share_Wage=High(50-100%']
df['Share_Wage']=pd.cut(x=df['Share_Wage'], bins=[-1,20, 50, 100],labels=Share_Wage_category)
# df['Share_Wage'].value_counts()

#preparing Work_Quantity
df['Work_Quantity'].replace(to_replace=['I am working less than before', 'I did not notice any changes regarding the quantity of my work' , 'I am working more than before'],
           value= ['Work_Quantity=Work less than before', 'Work_Quantity=Work same as before' , 'Work_Quantity=Work more than before'],
           inplace=True)
# df['Work_Quantity'].value_counts()

Gender=Woman    259
Gender=Man       51
Gender=Other      1
Name: Sex, dtype: int64

In [60]:
import numpy as np

# bins = [1, 2, 3, 6, np.inf]
# df['binned']=pd.cut(x=df['Household'], bins=[0,14,24,64,100])
Household_category = ['Household=1 person', 'Household=2 people', 'Household=3-6 people', 'Household=more than 6 people']

df['Household']=pd.cut(x=df['Household'], bins=[0, 1, 2, 6, 100],labels=Household_category)
# df['Household'] = pd.cut(df['Household'], bins, labels=names)
df['Household']

# df[df.columns[2:]].map({0:False, 1:True})

0                               NaN
1              Household=3-6 people
2              Household=3-6 people
3      Household=more than 6 people
4                Household=1 person
                   ...
306              Household=1 person
307              Household=2 people
308            Household=3-6 people
309    Household=more than 6 people
310            Household=3-6 people
Name: Household, Length: 311, dtype: category
Categories (4, object): ['Household=1 person' < 'Household=2 people' < 'Household=3-6 people' < 'Household=more than 6 people']

Work_Quantity=Work less than before    125
Work_Quantity=Work same as before       95
Work_Quantity=Work more than before     82
Name: Work_Quantity, dtype: int64

0.0    187
1.0     64
2.0     42
3.0      5
8.0      1
5.0      1
Name: Children, dtype: int64

In [63]:
df['Employment'].value_counts()

Emplyed in public sector      124
Working student                90
Employed in private sector     39
Self-employed                  25
Unemployed                     21
Retired                         8
Name: Employment, dtype: int64

In [5]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df.head()

,1,2,3,4,5,6,A,B,C,D,...,o,p,r,s,t,u,v,w,x,y
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,False,False,False,True,False
2,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,True,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False

In [7]:
#finding frequent itemsets using apriori
from mlxtend.frequent_patterns import apriori
# sex_to_boolean = {'True' : 0 , 'False' : 1 }
# df['Sex'] = df['Sex'].map(sex_to_boolean)
frequent_itemsets = apriori(df , min_support=0.6 , use_colnames=True)
frequent_itemsets

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [ ]:
#finding association rules
from mlxtend.frequent_patterns import association_rules
res = association_rules(frequent_itemsets , metric="confidence" , min_threshold=0.7)